@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');



/*====================
Start General Rules
=====================*/

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #707070;
    background-color: #fff;
}


.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #333;
    font-weight: 400;
    padding: 0;
    margin: 0;
}


p {
    margin: 0;
    padding: 0;
    font-size: 16px;

}


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    color: #232323;
}

.clear-fix:after {
    content: '';
    display: table;
    clear: both;
}



/* Helper Classes */
.btn {
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #00aeef;
    border: 2px solid #00aeef;
}

.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.section-space {
    padding: 100px 0;
}


.content-block h2 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
}

.content-block .underline {
    width: 70px;
    height: 3px;
    background: #00aeef;
    margin-top: 20px;
    margin-bottom: 60px;
}








/*Start Top Contact*/

.top-contact {
    background: #f4f4f4;
    padding: 10px;
}

.top-contact .address {
    margin-right: 20px;
}

.top-contact .address,
.top-contact .email {
    float: left;
}

.top-contact .address .icon,
.top-contact .email .icon {
    display: inline-block;
    color: #00aeef;
    margin-right: 5px;
}


.top-contact ul.social {
    float: right;
    text-align: center;
}

.top-contact ul.social li {
    display: inline-block;
    margin: 0 5px 0;
}

.top-contact ul.social li a {
    display: inline-block;
}

/*Start Top Contact*/

/*Start Navigation*/
.nav-main {
    padding: 20px 0;
    background: #fff;
}

.nav-main .logo {
    float: left;
}

.nav-main .nav-wrap {
    float: left;
    width: 70%;
    margin-top: 5px;
}

.nav-main .nav-wrap ul.nav-list {
    text-align: center;
}

.nav-main .nav-wrap ul.nav-list li {
    display: inline-block;
}

.nav-main .nav-wrap ul.nav-list li:not(:last-child) {
    margin-right: 10px;
}


.nav-main .nav-wrap ul.nav-list li a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 7px;
}


.nav-main a.booking-now {
    float: right;
}

/*End Navigation*/


/*Start Home*/

.showcase {
    position: relative;
    height: 100vh;
    background: url(../img/bg-img/showcase.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}


.showcase .content-block {
    position: relative;
    z-index: 2;
    top: 150px;
}

.showcase .content-block h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.showcase .content-block p {
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 40px;
}

.showcase .content-block .action-buttons .get-started {
    background: #00aeef;
    color: #fff;
    margin-right: 20px;
}

/*End Home*/

/*Start About*/

.about .about-content {
    margin-bottom: 50px;
}

.about .content-image {
    float: left;
    width: 50%;
    background-color: #f00;
    margin-right: 1%;
}

.about .content-image img {
    display: block;
    max-width: 100%;
    width: 100%;
}


.about .content-block {
    float: right;
    width: 49%;
    margin-bottom: 32px;
    padding: 80px 20px;
    height: 100%;
}

.about .content-block p {
    font-size: 15px;
    margin-bottom: 40px;
}

.about .skills-items .item {
    margin-bottom: 30px;
}


.about .skills-items .item h5 {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.about .skills-items .item .value {
    display: inline-block;
    float: right;
}

.about .skills-items .item .progress {
    background: #f4f4f4;
    height: 12px;
    margin-top: 10px;
}

.about .skills-items .item .progress .progress-bar {
    background: #00aeef;
    width: 0;
    height: 100%;
}


.about hr.divider {
    background: #f4f4f4;
    height: 3px;
    opacity: 0.6;
    border: none;
    margin-bottom: 20px;
}


.about .counter .item {
    width: calc(100% / 4 - 30px);
    float: left;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    padding: 40px 0;
}


.about .counter .item .icon i {
    font-size: 40px;
    color: #00aeef;
    margin-bottom: 20px;
}

.about .counter .item .content h2 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
}

.about .counter .item .content h5 {
    font-size: 16px;
    font-weight: 700;
}

/*End About*/

/*Start Services*/
.services {
    position: relative;
    background: url(../img/bg-img/services.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.services.overlay:before {
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.8;
}

.services .content-block {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 53%;
    float: left;
    margin-right: 2%;
}


.services .content-block .title h2 {
    color: #fff;
}

.services .services-items .row-one {
    margin-bottom: 30px;
}

.services .services-items .row .item {
    padding: 40px 20px;
    width: calc(100% / 3);
    float: left;
}


.services .services-items .row .item .icon {
    margin-bottom: 20px;
}

.services .services-items .row .item .icon i {
    font-size: 24px;
}

.services .services-items .row .item h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.services .vedio-promo {
    position: relative;
    width: 45%;
    z-index: 2;
    float: left;
    margin-top: 60px;
}


.services .vedio-promo .vedio-content img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.services .vedio-promo .play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.services .vedio-promo .play-icon i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #00aeef;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

/*End Services*/

/*Start Pricing*/


.pricing .title h2 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.pricing .title .underline {
    width: 70px;
    height: 3px;
    background: #00aeef;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

.pricing table {
    width: 100%;
}


.pricing table thead tr th,
.pricing table thead tr td {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: #f4f4f4;
    color: #707070;
    font-weight: 600;
}

.pricing table thead tr:first-of-type th {
    background: #00aeef;
    -ms-text-align-last: left;
    text-align-last: left;
    color: #fff;
}

/*End Pricing*/


/*Start Reservation*/


.reservation {
    position: relative;
    background: url(../img/bg-img/Reservation.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.reservation.overlay:before {
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.8;
}

.reservation .reserve-form form {
    position: relative;
    z-index: 1;
    font-size: 12px;
}

.reservation .reserve-form form .input-field input,
.reservation .reserve-form form .select-box select{
    width: 48%;
    float: left;
    padding: 15px 20px;
    border: none;
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.3);
}

.reservation .reserve-form form .input-field input:nth-child(1),
.reservation .reserve-form form .input-field input[type="email"] {
    margin-right: 4%;
}


.reservation .reserve-form form .select-box select {
    width: 48%;
    display: inline-block;
    float: left;
    border: none;
    color: #fff;
}

.reservation .reserve-form form .select-box select:not(:last-of-type) {
    margin-right: 4%;
}

reservation .reserve-form form .select-box select{
    background-color: #fff;
    color: #707070;
}

/*End Reservation*/
